{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_untyped_record,
            warn_unused_import,
            warn_unused_vars]}.

{deps, [{jsx, ".*",
         {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
        {shackle, ".*",
         {git, "https://github.com/lpgauth/shackle.git", {tag, "0.2.0"}}}]}.

{deps_dir, "deps"}.
{lib_dirs, ["deps"]}.
{sub_dirs, []}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{src_dirs, ["test"]}]}.

{cover_export_enabled, true}.
