{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_untyped_record,
            warn_unused_import,
            warn_unused_vars]}.

{deps, [
        {uuid, ".*",
         {git, "https://github.com/avtobiff/erlang-uuid.git",
          {tag, "v0.5.0"}}}
       ]}.

{deps_dir, "deps"}.
{lib_dirs, ["deps"]}.
{sub_dirs, []}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{src_dirs, ["test"]}]}.

{cover_export_enabled, true}.
